.laundry-symbol {
	float: right;
	clear: right;
}

.radio.radio-primary {
	height: 39px;
}

.form-horizontal .radio {
	margin-bottom: 16px;
}

.color {
	display: block;
	margin: 8px auto;
}

.radio.radio-primary.col-md-4.item-color {
	height: 60px;
}

.delete, .delete > form {
	display: inline;
}


.back {
	color: #ffffff;
	font-size: 12pt;
	size: 30px;
}

.back a, .back a:hover {
	text-decoration: none;
	color: #ffffff;
}

i.mdi-navigation-arrow-back {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}