.swatch {
}

.item-name {
	margin-left: 24px;
	font-size: 16px;
}

.modify-buttons {
	float: right;
}

.delete, .delete > form {
	display: inline;
}


.checkbox.item-checkbox {
	display: inline;
}

.hidden-submit-laundry {
	/* display: none; */
}

.sort {
	position: fixed;
	top: 50%;
	right: 5%;
}

.tag {
	color: #000000;
	opacity: 0.54;
	margin-left: 10px;
}