.cycle-heading {
	color: #000000;
	opacity: 0.54;
}

.cycle {
	float: left;
	width: 50%;
	font-size: 16px;
}

.cycle .well {
	width: 75%;
}

 .list-group .list-group-item .row-picture img {
 	background: rgba(0,0,0,.0);
 }

 .row-picture {
 	padding-top: 10px;
 }

 .row-content {
 	padding-top: 10px;
 }